<div class="container">
    <header>
        <h1>My Skills and Experience</h1>
    </header>

    <section class="section">
        <h3>Years of Experience :
            <span class="highlight">2.1 years</span>
        </h3>
    </section>

    <section class="section">
        <h2>Front-end Frameworks</h2>
        <p><span class="highlight">Angular</span> (Version: 8 and above), <span class="highlight">Bootstrap</span></p>
    </section>

    <section class="section">
        <h2>Programming Languages</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Typescript</li>
            <li>Javascript</li>
            <li>C</li>
            <li>CoreJava</li>
            <li>SQL</li>
        </ul>
    </section>

    <section class="section">
        <h2>Libraries & Database</h2>
        <ul>
            <li>Angular Material</li>
            <li>RxJS</li>
            <li>ngx-toastr</li>
            <li>Dynamo DB</li>
            <li>Cosmos DB</li>
        </ul>
    </section>

    <section class="section">
        <h2>Tools</h2>
        <ul>
            <li>Angular CLI</li>
            <li>Amazon Connect</li>
            <li>Jira</li>
            <li>Confluence</li>
            <li>Figma</li>
            <li>Postman</li>
            <li>WinSCP</li>
            <li>Git</li>
            <li>GitHub</li>
        </ul>
    </section>

    <section class="section">
        <h2>AREAS OF EXPERTISE</h2>
        <ul>
            <li>Problem solving skill</li>
            <li>Excellent communication</li>
            <li>Application Design and Development</li>
            <li>Project Management</li>
            <li>Strategic Planning and Execution</li>
            <li>Scrum & Agile Methodologies</li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2024 Harieharan J</p>
    </footer>
</div>