<section class="section">
    <div class="section__container">
        <div class="content">
            <p class="subtitle">HELLO</p>
            <h1 class="title">
                I'm <span>Harieharan<br /></span>an Angular UI Developer
            </h1>
            <p class="description">
                Welcome to a skilled and creative results-driven Angular Developer with 2 years of experience building and maintaining scalable and responsive web applications using angular, HTML5, CSS3, Typescript, Javascript.
            </p>
        </div>
        <div class="image">
            <!-- <img src="assets/profile/harieharan_profile_picture.jpg" alt="profile" /> -->
            <img src="assets/profile/hari_pic.jpeg" alt="profile" />
        </div>
    </div>
</section>